---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

On this page, you may find international talks and presentations I have attended. Visit <u><a href="https://scholar.google.com/citations?user=y-34CCwAAAAJ" target="_blank">my Google Scholar profile</a></u>, if you want to see a full listing of my talks.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}